<%= simple_form_for quote, html: { class: "quote form" } do |f| %>
  <%= form_error_notification(quote) %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", quotes_path, class: 'btn btn-light' %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
