<%= turbo_frame_tag line_item_date do %>
  <div class="line-item-date">
    <%= turbo_frame_tag dom_id(line_item_date, :edit) do %>
      <div class="line-item-date__header">
        <h2 class="line-item-date__title">
          <%= l(line_item_date.date, format: :long) %>
        </h2>

        <div class="line-item-date__actions">
          <%= button_to "Delete", [quote, line_item_date], method: :delete, class: "btn btn--light", data: { turbo_confirm: "Are you sure?" } %>
          <%= link_to "Edit", [:edit, quote, line_item_date], class: "btn btn--light" %>
        </div>
      </div>
    <% end %>

    <div class="line-item-date__footer">
      <%= turbo_frame_tag nested_dom_id(line_item_date, "line_items") do %>
        <%= render line_item_date.line_items, quote: quote, line_item_date: line_item_date %>
      <% end %>
      <%= turbo_frame_tag nested_dom_id(line_item_date, LineItem.new) %>
      <%= link_to "Add item", [:new, quote, line_item_date, :line_item], data: { turbo_frame: nested_dom_id(line_item_date, LineItem.new) }, class: "btn btn--primary" %>
    </div>
  </div>
<% end %>
