<%= turbo_stream.update nested_dom_id(@line_item_date, LineItem.new), "" %>

<%= turbo_stream.append nested_dom_id(@line_item_date, "line_items") do %>
  <%= render @line_item, quote: @quote, line_item_date: @line_item_date %>
<% end %>

<%= turbo_frame_tag dom_id(@quote, :total) do %>
  <%= render "quotes/total", quote: @quote %>
<% end %>

<%= render_turbo_stream_flash_messages %>
